.App {
  height: 100vh;
  text-align: center;
  align: middle;
}

.button {
  cursor: pointer;
  border: solid black 1px;
  border-radius: 50px;
  background-color: #E1D8F6;
  color: black;
  padding: 5px 20px;
}

.main {
  vertical-align: middle;
}
