body {
  margin: 0;
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  height: 100vh;
  text-align: center;
  align: middle;
}

.accentButton {
  cursor: pointer;
  border: solid white 1px;
  border-radius: 20px;
  background-color: #2D204C;
  color: white;
  padding: 5px 20px;
}

.button {
  cursor: pointer;
  border: solid black 1px;
  border-radius: 20px;
  background-color: #E1D8F6;
  color: black;
  padding: 5px 20px;
}

.main {
  vertical-align: middle;
}

.centered {
  flex-direction: column;
  justify-content: center;
}
