.card {
  display:inline-block;
  border: 2px solid rgba(255, 255, 255, 0.5);
  width: 60%;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 40px;
  padding: 1.2em;
}

.groupbutton {
  padding: 10px;
}

.addPadding{
  padding-top: 20px;
  padding-bottom: 10px;
}

.largePadding{
  padding-top: 40px;
  padding-bottom: 30px;
}

.question {
  font-size: 1.3em;
  font-style: italic;
}

.slogan {
  font-size: 1.3em;
}

.fillerHighlight {
  color: #FDBC26;
  font-weight: 700;
}

.keyHighlight {
  font-weight: bold;
  color: white;
}

.transcript {
  font-size: 1.1em;
  padding: 0px 15em;
  color: #E1E1E9;
}

.group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.progressCircle{
  max-width: 7.0em;
  padding: 1.2em;
}

.warn{
  color: #FDBC26 !important;
  font-weight: 700;
}

.listWords {
  font-size: 1.2em;
  color: #E1E1E9;
}


.errorMessage {
  min-height: 20px;
  padding-top: 20px;
}

.sideEl {
  padding: 20px;
}

.horGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.horGroup > div {
  padding: 10px 50px;
}

.horGroup > h2 {
  padding: 10px 50px;
}

.horGroup h2{
  color: #E1E1E9;
}

