.groupbutton {
  padding: 10px;
}

.slogan {
  font-size: 1.3em;
}

.bold {
  font-weight: bold;
  color: white;
}

.transcript {
  font-size: 1.1em;
  padding: 0px 10em;
  color: #E1E1E9;
}

.group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.progressCircle{
  max-width: 7.0em;
  padding: 1.2em;
}

.warn {
  color: #8D0000;
}

.listWords {
  font-size: 1.2em;
  color: #E1E1E9;
}

.largePadding{
  padding=top: 50px;
}

.addPadding{
  padding-top: 20px;
}

.errorMessage {
  min-height: 20px;
  padding-top: 20px;
}

.sideEl {
  padding: 20px;
}

.vertGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.vertGroup > div {
  padding: 10px 50px;
}

.vertGroup > h2 {
  padding: 10px 50px;
}

