.card {
  border: 1px solid black

}
.groupbutton {
  padding: 10px;
}

.question {
  font-size: 1.3em;
  font-style: italic;
}

.slogan {
  font-size: 1.3em;
}

.fillerHighlight {
  color: #A40000;
  font-weight: bold;
}

.keyHighlight {
  font-weight: bold;
  color: white;
}

.transcript {
  font-size: 1.1em;
  margin: 0px 15em;
  color: #E1E1E9;
}

.group {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.progressCircle{
  max-width: 7.0em;
  padding: 1.2em;
}

.warn {
  color: #8D0000;
}

.listWords {
  font-size: 1.2em;
  color: #E1E1E9;
}

.largePadding{
  padding-top: 50px;
}

.addPadding{
  padding-top: 20px;
  padding-bottom: 10px;
}

.errorMessage {
  min-height: 20px;
  padding-top: 20px;
}

.sideEl {
  padding: 20px;
}

.horGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.horGroup {
  padding: 10px 50px;
}

.horGroup > div {
  padding: 10px 50px;
}

.horGroup > h2 {
  padding: 10px 50px;
}

.horGroup h2{
  color: #E1E1E9;
}

